{% extends '/_base_template/base_layout.html' %}
{% block title %}Contact{% endblock %}

{% block extraStuff %}
    <!--FULLSCREEN SLIDER CSS-->
    <link rel="stylesheet" href="css/slider-style.css" />
    <!--END FULLSCREEN SLIDER CSS -->

    <!--FORM CSS-->
    <link rel="stylesheet" href="css/set1.css" />
    <link rel="stylesheet" href="css/buttons.css" />
    <script src="js/modernizr.custom.63321.js"></script>
    <link rel="stylesheet" href="css/custom-select.css" />
    <link rel="stylesheet" href="css/checkboxes.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <!--END FORM CSS-->
{% endblock %}

{% block navContent %}
      <nav id="cd-vertical-nav">
        <ul>
          <li>
            <a class="js-scroll-trigger" href="#numbers" class="page-scroll">
              <span class="cd-dot"></span>
              <span class="cd-label">Phone Numbers</span>
            </a>
          </li>
          <li>
    				<a class="js-scroll-trigger" href="#emails" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Emails</span>
    				</a>
    			</li>
          <li>
    				<a class="js-scroll-trigger" href="#location" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Location</span>
    				</a>
    			</li>
          <li>
    				<a class="js-scroll-trigger" href="#comments" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Comments</span>
    				</a>
    			</li>
        </ul>
      </nav>
{% endblock %}

{% block content %}
      <main>
        <div class="slider-container single_image contact-header">
          <div class="slider">
            <div class="slide slide-0 active">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 95,0 400,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading">Contact Us</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-section section-yellow" id="numbers">
          <h2><span class="special-first-letter">D</span>rop Us a Line</h2>
          <p>
            <i>Available for a call anytime during our business hours</i>
          </p>
          <hr>
          <div class="hours-section">
            <table class="highlight">
              <thead>
                <tr>
                    <th>Number</th>
                    <th class="tablet-display">Description</th>
                    <th>Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="tel:+15738836863">+15738836863</a></td>
                  <td class="tablet-display">This number is for any general question about the business, such as how to donate, where to find us, when we are open. It is attended during our business hours.</td>
                  <td>During Business Hours</td>
                </tr>
                <tr>
                  <td><a href="tel:+15733138724">+15733138724</a></td>
                  <td class="tablet-display">This number is for direct contacting of the Business Manager. This number should only be called if the general number is not available. It is typically available during regular hours of the day.</td>
                  <td>7:00 AM - 8:00 PM</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="main-section section-blue" id="emails">
          <h2><span class="special-first-letter">S</span>hoot us an Email</h2>
          <p>
            <i>Checked daily with typically fast responses</i>
          </p>
          <hr>
          <div class="hours-section">
            <table class="highlight">
              <thead>
                <tr>
                    <th>Email Address</th>
                    <th class="tablet-display">Description</th>
                    <th>Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>support@ccconnections.info</td>
                  <td class="tablet-display">Emails sent here are for support regarding donations, location, and other business information. It is check very frequently.</td>
                  <td>During Business Hours</td>
                </tr>
                <tr>
                  <td>cccbus@ccconnections.info</td>
                  <td class="tablet-display">Emails sent here are for support regarding events, volunteering, and other related items. It is checked very frequently as well.</td>
                  <td>7:00 AM - 8:00 PM</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="main-section section-purple" id="location">
          <h2><span class="special-first-letter">M</span>ain Location</h2>
          <p>
            <i>Come and meet us in person!</i>
          </p>
          <hr>
          <div id="map"></div>
          <div class="map-dirs">
            <h2><span class="special-first-letter">A</span>dresses</h2>
            <hr>
            <h2>Main Address</h2>
            <p>Community Clothing Connections<br>509 East Tenth Street<br>Rolla, MO 65401</p>
            <h2>Drop Off Locations</h2>
            <ol>
              <li>707 N State St., Rolla, MO 65401</li>
              <li>900 Bulldog Run, Rolla, MO 65401</li>
              <li>1200 McCutchen Rd, Rolla, MO 65401</li>
              <li>806 Ridgeview Rd, Rolla, MO 65401</li>
            </ol>
          </div>
        </div>
        <div class="main-section section-white" id="comments">
          <h2><span class="special-first-letter">L</span>eave a Comment</h2>
          <p>
            <i>We are always looking to get better as a business</i>
          </p>
          <hr>
          <div class="join-form-area faq-page">
            <form name="request" action="php/contact.php" autocomplete="off" method="POST" class="ac-custom ac-checkbox ac-cross">
              <fieldset>
                <legend>
                  <span class="special-first-letter">C</span>ontact Info
                </legend>
                <span class="input input--kaede flexible-input">
                  <input class="input__field input__field--kaede" type="text" id="fname" name="fname" required />
                  <label class="input__label input__label--kaede" for="fname">
                    <span class="input__label-content input__label-content--kaede">*First Name</span>
                  </label>
                </span>
                <span class="input input--kaede flexible-input">
                  <input class="input__field input__field--kaede" type="text" id="lname" name="lname" required />
                  <label class="input__label input__label--kaede" for="lname">
                    <span class="input__label-content input__label-content--kaede">*Last Name</span>
                  </label>
                </span>
                <span class="input input--kaede">
                  <input class="input__field input__field--kaede" type="email" id="email" name="email" required />
                  <label class="input__label input__label--kaede" for="email">
                    <span class="input__label-content input__label-content--kaede">*Email Address</span>
                  </label>
                </span>
                <span class="input input--kaede">
                  <input class="input__field input__field--kaede" type="text" id="comment" name="comment" required />
                  <label class="input__label input__label--kaede" for="comment">
                    <span class="input__label-content input__label-content--kaede">*Comment</span>
                  </label>
                </span>
              </fieldset>
              <button class="button button--rayen button--border-medium button--text-thick button--text-upper button--size-s" data-text="Submit Idea"><span>Submit Idea</span></button>
              <button type="reset" class="button button--rayen button--border-medium button--text-thick button--text-upper button--size-s" data-text="Reset Form"><span>Reset Form</span></button>
            </form>
          </div>
        </div>
      </main>
{% endblock %}

{% block script %}
{{ super() }}
    <script>
      function initMap() {
        var uluru = {lat: 37.949868, lng: -91.775034};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI9R_bzjYSX8tSjpWDWQIXl0i-TTzXgvQ&callback=initMap">
    </script>
    <script type="text/javascript" src="js/jquery.dropdown.js"></script>
    <script src="js/svgcheckbx.js"></script>
    <script type="text/javascript">

      $( function() {

        $( '#cd-dropdown' ).dropdown();

      });

    </script>

    <script>
      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
    </script>

    <script src="js/datepicker.js"></script>
    <script src="js/main.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js'></script>
    <script  src="js/input-mask.js"></script>
{% endblock %}
