{% extends '/_base_template/base_layout.html' %}
{% block title %}FAQ{% endblock %}

{% block extraStuff %}
    <!--FULLSCREEN SLIDER CSS-->
    <link rel="stylesheet" href="css/slider-style.css" />
    <!--END FULLSCREEN SLIDER CSS -->

    <!--FAQ SECTION CSS-->
    <link rel="stylesheet" href="css/faq.css">

    <!--FORM CSS-->
    <link rel="stylesheet" href="css/set1.css" />
    <link rel="stylesheet" href="css/buttons.css" />
    <script src="js/modernizr.custom.63321.js"></script>
    <link rel="stylesheet" href="css/custom-select.css" />
    <link rel="stylesheet" href="css/checkboxes.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <!--END FORM CSS-->
{% endblock %}

{% block navContent %}
      <nav id="cd-vertical-nav">
        <ul>
          <li>
            <a class="js-scroll-trigger" href="#faq" class="page-scroll">
              <span class="cd-dot"></span>
              <span class="cd-label">Frequently Asked Questions</span>
            </a>
          </li>
          <li>
    				<a class="js-scroll-trigger" href="#other" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Other Questions?</span>
    				</a>
    			</li>
        </ul>
      </nav>
{% endblock %}

{% block content %}
      <main>
        <div class="slider-container single_image faq-header">
          <div class="slider">
            <div class="slide slide-0 active">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 95,0 400,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading">FAQS</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-section section-white" id="faq">
          <h2><span class="special-first-letter">F</span>requently Asked Questions</h2>
          <p>
            <i>In case you were wondering...</i>
          </p>
          <hr>
          <div class="cd-faq">
            <ul class="cd-faq-categories">
          		<li><a class="selected" href="#basics">Volunteering</a></li>
          		<li><a href="#mobile">Events</a></li>
          		<li><a href="#account">Our Store</a></li>
          		<li><a href="#payments">Practices</a></li>
          	</ul> <!-- cd-faq-categories -->

          	<div class="cd-faq-items">
          		<ul id="basics" class="cd-faq-group">
          			<li class="cd-faq-title"><h2><span class="special-first-letter">V</span>olunteering</h2></li>
          			<li>
          				<a class="cd-faq-trigger" href="#0">How do I become a volunteer?</a>
          				<div class="cd-faq-content">
          					<p>To become a volunteer, simply go to our team page, which is located in the top right for desktop users and in the menu at the top right for mobile users. Once there, fill out the form located at the bottom of the page. Once we review your information, we will add you as a registered volunteer, and you can start to sign up for events on the event sign ups page!</p>
          				</div> <!-- cd-faq-content -->
          			</li>

          			<li>
          				<a class="cd-faq-trigger" href="#0">How do I sign up to volunteer at events?</a>
          				<div class="cd-faq-content">
          					<p>Accessing the event signups:<br>
                       Desktop: hover over the contribute link in the top right, and then click Event Signups.<br>
                       Mobile: click the hamburger menu icon in the top right, click Contribute, then click Event Signups.<br><br>
                       General after access:<br>
                       Once there, click the Register link in the login box and create an account by filling out the form. Once your account is made, go to the bookings page to find all available events that are coming up. Click on the event for which you want to volunteer, and request participant access. We will promptly check to see if you are signed up as a volunteer in our database, and if you are, we will add you as a participant.</p>
          				</div> <!-- cd-faq-content -->
          			</li>

          			<li>
          				<a class="cd-faq-trigger" href="#0">Can I volunteer through a high school club?</a>
          				<div class="cd-faq-content">
          					<p>Absolutely! We love involving everyone in our events, and all volunteers are welcome. A representative from our business will always be present at the event, so if you need service hours verified, it is very easy to do. To volunteer, we would like that your representative send us a notice of who will be helping out. You can also fill out the volunteer form on our team page, and indicate you will be helping out for a club. By the way, we appreciate your help!
</p>
          				</div> <!-- cd-faq-content -->
          			</li>
          		</ul> <!-- cd-faq-group -->

          		<ul id="mobile" class="cd-faq-group">
          			<li class="cd-faq-title"><h2><span class="special-first-letter">E</span>vents</h2></li>
          			<li>
          				<a class="cd-faq-trigger" href="#0">When I volunteer for an event, do I need to check in with someone?
</a>
          				<div class="cd-faq-content">
          					<p>Yes. A representative of our team will always be present at our events. We always have a list of who signed up to volunteer, and it is helpful to us if you check in if you volunteered. We like to keep track of activity status for each volunteer so we know who we can rely on to be an attentive volunteer.</p>
          				</div> <!-- cd-faq-content -->
          			</li>

          			<li>
          				<a class="cd-faq-trigger" href="#0">Am I required to stay at the event for the whole time?</a>
          				<div class="cd-faq-content">
          					<p>Of course not! You are volunteering your time to help us, so we will appreciate your help for as long as you can stay. If it’s 30min or 3 hours, anything is appreciated. If possible, if helpful to specify the time you can stay when you choose to volunteer at the event.</p>
          				</div> <!-- cd-faq-content -->
          			</li>

          			<li>
          				<a class="cd-faq-trigger" href="#0">Do I need to attend a certain amount of events?</a>
          				<div class="cd-faq-content">
          					<p>Generally, as long as you attend at least one event a year, you will still be considered an active volunteer in our system. Besides this, there is no requirement to how many events you have to attend because it is volunteering, so we will accept anything you can give.</p>
          				</div> <!-- cd-faq-content -->
          			</li>
          		</ul> <!-- cd-faq-group -->

          		<ul id="account" class="cd-faq-group">
          			<li class="cd-faq-title"><h2><span class="special-first-letter">O</span>ur Store</h2></li>
          			<li>
          				<a class="cd-faq-trigger" href="#0">Where can I drop off clothes?
</a>
          				<div class="cd-faq-content">
          					<p>We have three drop-off locations in addition to our main address. They are listed under the “Our Business” section. These locations are open 24/7, so you can access them at any time of the day.</p>
          				</div> <!-- cd-faq-content -->
          			</li>

          			<li>
          				<a class="cd-faq-trigger" href="#0">Do I qualify for clothes?</a>
          				<div class="cd-faq-content">
          					<p>If you have a need, we have a solution. Our business has been blessed by the generosity of the community and we have a large selection of clothing to choose from. Simply walk in and check in with the receptionist. If you’re new, you’ll be asked to fill out a small form with any pertinent information. Check out with the receptionist when you have what you need. Come by or contact us if you have any other questions!</p>
          				</div> <!-- cd-faq-content -->
          			</li>

          			<li>
          				<a class="cd-faq-trigger" href="#0">How can I sign up for classes?</a>
          				<div class="cd-faq-content">
          					<p>Sign up sheets for classes are available at the front desk of CCC. Simply drop in during business hours and fill one out.</p>
          				</div> <!-- cd-faq-content -->
          			</li>
          		</ul> <!-- cd-faq-group -->

          		<ul id="payments" class="cd-faq-group">
          			<li class="cd-faq-title"><h2><span class="special-first-letter">P</span>ractices</h2></li>
          			<li>
          				<a class="cd-faq-trigger" href="#0">What type of non-profit is your business?
</a>
          				<div class="cd-faq-content">
          					<p>We are a 501(c)(4) non-profit. We are a social welfare organization that gives back to the community, and we try to help in as many ways as possible.</p>
          				</div> <!-- cd-faq-content -->
          			</li>

          			<li>
          				<a class="cd-faq-trigger" href="#0">What is the main goal of your organization?</a>
          				<div class="cd-faq-content">
          					<p>The main goal of our organization is to bring communities together through helping the less fortunate, specifically through clothing donations. We want to foster great values into our team members and the members of the community. Our full mission and vision can be viewed on the Our Business page. If on a desktop computer, you can access it by hovering over the About link and clicking Our Business. For mobile users, just click the menu in the top right, click about, and then click our business.</p>
          				</div> <!-- cd-faq-content -->
          			</li>

          			<li>
          				<a class="cd-faq-trigger" href="#0">Are your team members and volunteers background checked?</a>
          				<div class="cd-faq-content">
          					<p>Yes. Each of our team members has undergone a background check before being employed. Also, before each volunteer can begin helping out at events, we conduct a background check on them. We want everyone who attends our events, as well as our store, to be safe, so we would never skip this step in allowing someone to be a part of our team.</p>
          				</div> <!-- cd-faq-content -->
          			</li>
          		</ul> <!-- cd-faq-group -->
          	</div> <!-- cd-faq-items -->
          	<a href="#0" class="cd-close-panel">Close</a>
          </div>
        </div>
        <div class="main-section section-yellow" id="other">
          <h2><span class="special-first-letter">O</span>ther Questions?</h2>
          <p>
            <i>Send us your questions so we can add it for others to see</i>
          </p>
          <hr>
          <div class="join-form-area faq-page">
            <form name="request" action="php/faq.php" autocomplete="off" method="POST" class="ac-custom ac-checkbox ac-cross">
              <fieldset>
                <legend>
                  <span class="special-first-letter">C</span>ontact Info
                </legend>
                <span class="input input--kaede flexible-input">
                  <input class="input__field input__field--kaede" type="text" id="fname" name="fname" required />
                  <label class="input__label input__label--kaede" for="fname">
                    <span class="input__label-content input__label-content--kaede">*First Name</span>
                  </label>
                </span>
                <span class="input input--kaede flexible-input">
                  <input class="input__field input__field--kaede" type="text" id="lname" name="lname" required />
                  <label class="input__label input__label--kaede" for="lname">
                    <span class="input__label-content input__label-content--kaede">*Last Name</span>
                  </label>
                </span>
                <span class="input input--kaede">
                  <input class="input__field input__field--kaede" type="email" id="email" name="email" required />
                  <label class="input__label input__label--kaede" for="email">
                    <span class="input__label-content input__label-content--kaede">*Email Address</span>
                  </label>
                </span>
                <span class="input input--kaede">
                  <input class="input__field input__field--kaede" type="text" id="comments" name="comments" required />
                  <label class="input__label input__label--kaede" for="comments">
                    <span class="input__label-content input__label-content--kaede">*Comments</span>
                  </label>
                </span>
              </fieldset>
              <button class="button button--rayen button--border-medium button--text-thick button--text-upper button--size-s" data-text="Submit Idea"><span>Submit Idea</span></button>
              <button type="reset" class="button button--rayen button--border-medium button--text-thick button--text-upper button--size-s" data-text="Reset Form"><span>Reset Form</span></button>
            </form>
          </div>
        </div>
      </main>
{% endblock %}

{% block script %}
{{ super() }}
    <script src="js/faq.js"></script> <!-- Resource jQuery -->

    <script type="text/javascript" src="js/jquery.dropdown.js"></script>
    <script src="js/svgcheckbx.js"></script>
    <script type="text/javascript">

      $( function() {

        $( '#cd-dropdown' ).dropdown();

      });

    </script>

    <script>
			(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}
				}
			})();
		</script>
    <script src="js/datepicker.js"></script>
    <script src="js/main.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js'></script>
    <script  src="js/input-mask.js"></script>

{% endblock %}
