{% extends '/_base_template/base_layout.html' %}
{% block title %}Our Impact{% endblock %}

{% block extraStuff %}
    <!--FULLSCREEN SLIDER CSS-->
    <link rel="stylesheet" href="css/slider-style.css" />
    <!--END FULLSCREEN SLIDER CSS -->

    <!--GALLERY SLIDER CSS-->
    <link rel="stylesheet" type="text/css" href="css/flickity.css" />
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
    <link rel="stylesheet" href="css/buttons.css" />
    <!--END GALLERY SLIDER CSS-->
{% endblock %}

{% block navContent %}
      <nav id="cd-vertical-nav">
        <ul>
          <li>
            <a class="js-scroll-trigger" href="#gallery" class="page-scroll">
              <span class="cd-dot"></span>
              <span class="cd-label">Gallery</span>
            </a>
          </li>
          <li>
    				<a class="js-scroll-trigger" href="#quotes" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Community Quotes</span>
    				</a>
    			</li>
          <li>
    				<a class="js-scroll-trigger" href="#success" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Our Success</span>
    				</a>
    			</li>
        </ul>
      </nav>
{% endblock %}

{% block content %}

<main>
  <div class="slider-container single_image impact-header">
    <div class="slider">
      <div class="slide slide-0 active">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 95,0 400,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">Our Impact</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-section section-yellow" id="gallery">
    <h2><span class="special-first-letter">O</span>ur Gallery</h2>
    <p>
      <i>See how we have been helping out in your community</i>
    </p>
    <hr>
    <div class="gallery-container">
      <div class="gallery-slider">
        <div class="slide">
          <img class="gallery-image" src="img/impact1.jpg" alt="Children smiling and looking up into the air"/>
        </div>
        <div class="slide">
          <img class="gallery-image" src="img/impact2.jpg" alt="Happy family grouped together in winter clothes"/>
        </div>
        <div class="slide">
          <img class="gallery-image" src="img/impact3.jpg" alt="Store filled with clothes racks"/>
        </div>
        <div class="slide">
          <img class="gallery-image" src="img/impact4.jpg" alt="Child trying to find a suit to wear"/>
        </div>
        <div class="slide">
          <img class="gallery-image" src="img/impact5.jpg" alt="Shoe racks in the store"/>
        </div>
      </div>
    </div>
  </div>
  <div class="main-section section-blue" id="quotes">
    <h2><span class="special-first-letter">Q</span>uotes from Community</h2>
    <p>
      <i>Hear what people have said about us</i>
    </p>
    <hr>
    <div class="quote-slider">
      <div>
        <p class="quote">
          I’ve been around for a while and I’ve seen few things in this community that have more positively impacted this community than Community Clothing Connections.
        </p>
      </div>
      <div>
        <p class="quote">
          The suit up event at Community Clothing Connections gave me the edge I needed for an interview. I never would have been able to afford one without them.
        </p>
      </div>
      <div>
        <p class="quote">
          There’s nothing I love more than donating my time and energy to the volunteer events at Community Clothing Connections. I love giving back to the community and making a difference in the lives of other people.
        </p>
      </div>
      <div>
        <p class="quote">
          The annual 5Ks are so much fun, and I look forward to them every year! They are definitely tough for me to do, but I always enjoy getting together with everyone in my community and just competing for a good cause!
        </p>
      </div>
      <div>
        <p class="quote">
          I am so thankful for everyone who works for and volunteers for this company and this community. They have done so much good, and everyone living around this area would not be the same if Community Clothing Connections had not existed.
        </p>
      </div>
      <div>
        <p class="quote">
          The whole idea of this business is phenomenal. Everyone is benefitting in this organization’s process. The needy are staying warm, and the community is improved as a whole with every event and project the company completes.
        </p>
      </div>
    </div>
  </div>
  <div class="main-section section-purple" id="success">
    <h2><span class="special-first-letter">O</span>ur success</h2>
    <p>
      <i>How we have successfully impacted your community</i>
    </p>
    <hr>
    <div class="about-items">
      <div class="about-item-container">
        <div class="about-icon">
          <i class="home-icon flaticon-medical"></i>
        </div>
        <div class="about-text">
          <h2 class="about-item-heading">Money Raised</h2>
          <p class="item-stat">
            $305,238.88
          </p>
        </div>
      </div>
      <div class="about-item-container">
        <div class="about-icon">
          <i class="home-icon flaticon-multiple-users-silhouette"></i>
        </div>
        <div class="about-text">
          <h2 class="about-item-heading">Volunteers</h2>
          <p class="item-stat">
            897
          </p>
        </div>
      </div>
      <div class="about-item-container">
        <div class="about-icon">
          <i class="other-icons flaticon-giftbox"></i>
        </div>
        <div class="about-text">
          <h2 class="about-item-heading">Items Donated</h2>
          <p class="item-stat">
            104,292
          </p>
        </div>
      </div>
      <div class="about-item-container">
        <div class="about-icon">
          <i class="other-icons flaticon-constructor"></i>
        </div>
        <div class="about-text">
          <h2 class="about-item-heading">Projects</h2>
          <p class="item-stat">
            26
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block script %}
{{ super() }}
    <script src="js/flickity.pkgd.js"></script>
    <!--EVENT SLIDER JS-->
    <script type="text/javascript">
      $('.gallery-slider').flickity({
        // options
        wrapAround: true
      });
    </script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.quote-slider').slick({
          infinite: true,
          dots: true,
          adaptiveHeight: true,
          slidesToShow: 2,
          slidesToScroll: 2,
          responsive: [
            {
              breakpoint: 893,
              settings: {
                dots: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      });
    </script>
{% endblock %}
