{% extends '/_base_template/base_layout.html' %}
{% block title %}Home{% endblock %}

{% block extraStuff %}
    <!--FULLSCREEN SLIDER CSS-->
    <link rel="stylesheet" href="css/slider-style.css" />
    <!--END FULLSCREEN SLIDER CSS -->

    <!--REQUIRED FILES FOR CALENDAR-->
    <link rel='stylesheet' href='css/fullcalendar.css' />
    <script src='js/moment.min.js'></script>
    <script src='js/fullcalendar.js'></script>
    <script type='text/javascript' src='js/gcal.js'></script>
    <!--END REQUIRED FILES FOR CALENDAR-->

    <script>
      $(document).ready(function() {
        $('#calendar').fullCalendar({
          googleCalendarApiKey: 'AIzaSyBI9R_bzjYSX8tSjpWDWQIXl0i-TTzXgvQ',
          events: {
            googleCalendarId: 'a6e1gbgph9fn4t443rnp79hdlj0p0ntu@import.calendar.google.com'
          },
          aspectRatio: 2.5
        });
      });
    </script>
{% endblock %}

{% block navContent %}
      <nav id="cd-vertical-nav">
        <ul>
          <li>
            <a class="js-scroll-trigger" href="#about" class="page-scroll">
              <span class="cd-dot"></span>
              <span class="cd-label">About Us</span>
            </a>
          </li>
          <li>
    				<a class="js-scroll-trigger" href="#projects" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Projects</span>
    				</a>
    			</li>
          <li>
    				<a class="js-scroll-trigger" href="#events" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Events</span>
    				</a>
    			</li>
          <li>
    				<a class="js-scroll-trigger" href="#success" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Our Success</span>
    				</a>
    			</li>
          <li>
    				<a class="js-scroll-trigger" href="#help" class="page-scroll">
    					<span class="cd-dot"></span>
    					<span class="cd-label">Want to Help?</span>
    				</a>
    			</li>
        </ul>
      </nav>
{% endblock %}

{% block content %}
      <main>
        <div class="slider-container">
          <div class="slider-control left inactive"></div>
          <div class="slider-control right"></div>
          <ul class="slider-pagi"></ul>
          <div class="slider">
            <div class="slide slide-0 active">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 95,0 400,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading">Serving Your Community Since Day One</h2>
                  <p class="slide__text-desc">Every event we hold and donation we receive is driven towards more connected communities as our donors help rid the less fortunate of their worries over the necessity of clothing.</p>
                  <a class="slide__text-link" href="about">Mission and Goals!</a>
                </div>
              </div>
            </div>
            <div class="slide slide-1 ">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 95,0 400,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading">All Our Success Stems From Your Help</h2>
                  <p class="slide__text-desc">We would not be able to function if were not for the generous volunteers of the community. They both help us function and support our cause of bringing communities closer through helping the less forunate.</p>
                  <a class="slide__text-link" href="team#join">Vounteer Today!</a>
                </div>
              </div>
            </div>
            <div class="slide slide-2">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 95,0 400,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading">Every Dollar We Make Is Given Back</h2>
                  <p class="slide__text-desc">As a 501(c)(4) non-profit, every bit of profit we make from our store and your donations goes back into the community through buying more clothes, improving the community, and many, many other ways.</p>
                  <a class="slide__text-link" href="impact">See Our Success!</a>
                </div>
              </div>
            </div>
            <div class="slide slide-3">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 95,0 400,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading">Without You Our Events Wouldn't Be Possible</h2>
                  <p class="slide__text-desc">We look forward to every event we hold because we get to see the community members actively engaged in helping their community. It gratifies us to see that our mission and company is important to so many other people.</p>
                  <a class="slide__text-link" href="events">See Events!</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="about" class="main-section section-purple">
          <h2><span class="special-first-letter">A</span>bout Us</h2>
          <p>
            <i>Connecting Communities Since Shirt One</i>
          </p>
          <hr>
          <div class="about-items">
            <div class="about-item-container">
              <div class="about-icon">
                <i class="home-icon flaticon-medical"></i>
              </div>
              <div class="about-text">
                <h2 class="about-item-heading">Strong Connections</h2>
                <p class="about-item-descr">
                  Every event we hold, family to which we donate, and new edition to our team makes us stronger, which, in turn, makes the communities we help that much more connected.
                </p>
              </div>
            </div>
            <div class="about-item-container">
              <div class="about-icon">
                <i class="home-icon flaticon-multiple-users-silhouette"></i>
              </div>
              <div class="about-text">
                <h2 class="about-item-heading">95% Volunteer Based</h2>
                <p class="about-item-descr">
                  Our volunteers complete our mission. Each new person that helps our cause is helping their community, which makes the community more connected with every new volunteer.
                </p>
              </div>
            </div>
            <div class="about-item-container">
              <div class="about-icon">
                <i class="home-icon flaticon-hands"></i>
              </div>
              <div class="about-text">
                <h2 class="about-item-heading">501(c)(4) Nonprofit</h2>
                <p class="about-item-descr">
                  Every donation we receive goes back into supporting our cause. We strive to help as many people as we can in providing the less fortunate with essential clothing items.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="projects" class="main-section section-yellow">
          <h2><span class="special-first-letter">P</span>rojects</h2>
          <p>
            <i>Some of the Many Ways We Give Back</i>
          </p>
          <hr>
          <div class="project-container">
            <div class="project">
              <div class="project-text">
                <h2>No Family Left Cold</h2>
                <p>
                  Everyone deserves to have a happy christmas, and we strive to give that opportunity to every person in our community who is in need.
                </p>
                <a href="projects" class="slide__text-link">View Project</a>
              </div>
            </div>
            <div class="project">
              <div class="project-text">
                <h2>Community Education</h2>
                <p>
                  By educating the community on various topics, we are improiving the quality the community as a whole. We want to give every possible chance to improve our community members.
                </p>
                <a href="projects" class="slide__text-link">View Project</a>
              </div>
            </div>
            <div class="project">
              <div class="project-text">
                <h2>Community Services</h2>
                <p>
                  We want to keep our community in a well-kept state to keep community members engaged now and draw in more for its future.
                </p>
                <a href="projects" class="slide__text-link">View Project</a>
              </div>
            </div>
            <div class="project">
              <div class="project-text">
                <h2>Improving Student Education</h2>
                <p>
                  Our students are the future, so it makes sense to help improve their education as much as possible.
                </p>
                <a href="projects" class="slide__text-link">View Project</a>
              </div>
            </div>
            <div class="project">
              <div class="project-text">
                <h2>Charity Donations and Support</h2>
                <p>
                  We support other charities that have similar goals to us. We want to help them get their feet on the ground and improve the community with us.
                </p>
                <a href="projects" class="slide__text-link">View Project</a>
              </div>
            </div>
            <div class="project">
              <div class="project-text">
                <h2>Annual Senior Christmas Special</h2>
                <p>
                  Our senior citizens are the embodiment of our community's past and success, so we like to show support for them and give back to them.
                </p>
                <a href="projects" class="slide__text-link">View Project</a>
              </div>
            </div>
          </div>
        </div>

        <div id="events" class="main-section section-white">
          <h2><span class="special-first-letter">E</span>vents</h2>
          <p>
            <i>Events We Will Be Having To Support Our Cause</i>
          </p>
          <hr>
          <div id="calendar"></div>
        </div>

        <div id="success" class="main-section section-purple">
          <h2><span class="special-first-letter">O</span>ur Success</h2>
          <p>
            <i>Our Numbers Will Only Increase With Your Help</i>
          </p>
          <hr>
          <div class="about-items">
            <div class="about-item-container">
              <div class="about-icon">
                <i class="home-icon flaticon-medical"></i>
              </div>
              <div class="about-text">
                <h2 class="about-item-heading">Money Raised</h2>
                <p class="item-stat">
                  $305,238.88
                </p>
              </div>
            </div>
            <div class="about-item-container">
              <div class="about-icon">
                <i class="home-icon flaticon-multiple-users-silhouette"></i>
              </div>
              <div class="about-text">
                <h2 class="about-item-heading">Volunteers</h2>
                <p class="item-stat">
                  897
                </p>
              </div>
            </div>
            <div class="about-item-container">
              <div class="about-icon">
                <i class="other-icons flaticon-giftbox"></i>
              </div>
              <div class="about-text">
                <h2 class="about-item-heading">Items Donated</h2>
                <p class="item-stat">
                  104,292
                </p>
              </div>
            </div>
            <div class="about-item-container">
              <div class="about-icon">
                <i class="other-icons flaticon-constructor"></i>
              </div>
              <div class="about-text">
                <h2 class="about-item-heading">Projects</h2>
                <p class="item-stat">
                  26
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="help" class="main-section section-yellow">
          <h2><span class="special-first-letter">W</span>ant To Help?</h2>
          <p>
            <i>Help In Any Form Is Always Appreciated</i>
          </p>
          <hr>
          <div class="project-container">
            <div class="project">
              <div class="project-text">
                <h2>Volunteer</h2>
                <p>
                  Even if you can only give one hour to our community, that means the world to us. You will be doing your community and yourself a great service.
                </p>
                <a href="team#join" class="slide__text-link">Sign Up!</a>
              </div>
            </div>
            <div class="project">
              <div class="project-text">
                <h2>Donate</h2>
                <p>
                  No matter how small, or large, the donation, anything is always appreciated. You can donate in many different ways, and everyone benfits in the process.
                </p>
                <a href="donate" class="slide__text-link">Donate Now!</a>
              </div>
            </div>
            <div class="project">
              <div class="project-text">
                <h2>Become a Full Member</h2>
                <p>
                  If you want to make our mission into your own life's goal, we always have a place for a new edition to our team.
                </p>
                <a href="team#join" class="slide__text-link">Join the Team!</a>
              </div>
            </div>
          </div>
        </div>

      </main>
{% endblock %}

{% block script %}
{{ super() }}
    <!--FULL SCREEN SLIDER JS-->
    <script src="js/slider-style.js"></script>
{% endblock %}
